# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.lock
*.phar

*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
vendor/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml